
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,800;9..40,900&display=swap');
:root {
  --primary: #DCB38E;
  --secondary: #FFD7B3;
  --accentBorder: #A78E77;
  --accent: #DCBB9E;
  --accent2: #5b3d56;
  --highlight: #5b3d56;
  --text: #FFD7B3;
  --darkText: #C59870;
  --translucent: #00000033;
  --semi-transparent: #000000c5;
  --neutralColor: #80808080;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 50px;
}

::-webkit-scrollbar-thumb {
  width: 2.5px;
  background: #00000080;
  border-radius: 10px;
}

::-webkit-scrollbar-button:end:increment {
  height: 0px;
  width: 0px;
  display: block;
  background: transparent;
}

::-webkit-scrollbar-button:start:increment {
  height: 0px;
  width: 0px;
  display: block;
  background: transparent;
}